<!-- layout.erb -->
<!DOCTYPE html>
<html ng-app="indexApp">
<head>
	<title>Sinatra Angular Boilerplate</title>
	<!-- scripts -->
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<!-- style -->
</head>
<body>
	<%= yield %>
</body>
</html>